## encoding: utf-8

<%inherit file="brave.hr.template.master"/>
<%namespace name="f" file="brave.hr.template.filter"/>

<%block name="title">BRAVE HR</%block>

<div class="page-header">
    <h1>BRAVE HR <small>So easy a caveman could do it.</small></h1>
</div>

<div class="jumbotron">
    <p>
        Thank you for your interest in joining the Brave Collective. Your info is now on file for review by HR, but you will still need to submit an in game application before HR considers your application.
    </p>
</div>
